//output:index.html, pretty:false
doctype html
html(lang="de")
  head
    // General Meta
    meta(charset='utf-8')
    meta(name='viewport', content='initial-scale=1, width=device-width, user-scalable=no, shrink-to-fit=no')
    meta(name='apple-mobile-web-app-title', content='UX King')
    meta(name='application-name', content='UX King')
    meta(name='google', content='notranslate')
    meta(name='mobile-web-app-capable', content='yes')
    // Apple Touch Icon
    link(rel='apple-touch-icon', sizes='180x180', href='https://www.trafficforrest.com/assets/img/favicon/apple-touch-icon-180x180-v1.png')
    link(rel='apple-touch-icon-precomposed', sizes='152x152', href='https://www.trafficforrest.com/assets/img/favicon/apple-touch-icon-152x152-v1.png')
    link(rel='apple-touch-icon-precomposed', sizes='144x144', href='https://www.trafficforrest.com/assets/img/favicon/apple-touch-icon-144x144-v1.png')
    link(rel='apple-touch-icon-precomposed', sizes='120x120', href='https://www.trafficforrest.com/assets/img/favicon/apple-touch-icon-120x120-v1.png')
    link(rel='apple-touch-icon-precomposed', sizes='114x114', href='https://www.trafficforrest.com/assets/img/favicon/apple-touch-icon-114x114-v1.png')
    link(rel='apple-touch-icon-precomposed', sizes='76x76', href='https://www.trafficforrest.com/assets/img/favicon/apple-touch-icon-76x76-v1.png')
    link(rel='apple-touch-icon-precomposed', sizes='72x72', href='https://www.trafficforrest.com/assets/img/favicon/apple-touch-icon-72x72-v1.png')
    link(rel='apple-touch-icon-precomposed', sizes='60x60', href='https://www.trafficforrest.com/assets/img/favicon/apple-touch-icon-60x60-v1.png')
    link(rel='apple-touch-icon-precomposed', sizes='57x57', href='https://www.trafficforrest.com/assets/img/favicon/apple-touch-icon-57x57-v1.png')
    // Favicon
    link(rel='icon', type='image/png', href='https://www.trafficforrest.com/assets/img/favicon/favicon-128x128-v1.png', sizes='128x128')
    link(rel='icon', type='image/png', href='https://www.trafficforrest.com/assets/img/favicon/favicon-96x96-v1.png', sizes='96x96')
    link(rel='icon', type='image/png', href='https://www.trafficforrest.com/assets/img/favicon/favicon-32x32-v1.png', sizes='32x32')
    link(rel='icon', type='image/png', href='https://www.trafficforrest.com/assets/img/favicon/favicon-16x16-v1.png', sizes='16x16')
    // Android Chrome Icon
    link(rel='icon', type='image/png', href='https://www.trafficforrest.com/assets/img/android-chrome-192x192-v1.png', sizes='192x192')
    // Microsoft Application Icon
    meta(name='msapplication-TileColor', content='#232121')
    meta(name='msapplication-TileImage', content='https://www.trafficforrest.com/assets/img/favicon/mstile-144x144-v1.png')
    meta(name='msapplication-square70x70logo', content='https://www.trafficforrest.com/assets/img/favicon/mstile-70x70-v1.png')
    meta(name='msapplication-square150x150logo', content='https://www.trafficforrest.com/assets/img/favicon/mstile-150x150-v1.png')
    meta(name='msapplication-wide310x150logo', content='https://www.trafficforrest.com/assets/img/favicon/stile-310x150-v1.png')
    meta(name='msapplication-square310x310logo', content='https://www.trafficforrest.com/assets/img/favicon/mstile-310x310-v1.png')
    link(rel='manifest', href='https://www.trafficforrest.com/assets/img/favicon/manifest-v1.json')
    // SEO / Social Relevent Metas
    title Mobile Marketing | Traffic Forrest
    meta(name='description', content='Professional Mobile Marketing Agency | Traffic Forrest')
    meta(property='og:title', content='Mobile Marketing | Traffic Forrest')
    meta(property='og:description', content='Professional Mobile Marketing Agency | Traffic Forrest')
    meta(property='og:image', content='https://www.trafficforrest.com/assets/img/favicon/ogimage-1200x630-v2.png')
    meta(property='og:image:height', content='1200')
    meta(property='og:image:width', content='630')
    meta(property='og:image', content='https://www.trafficforrest.com/assets/img/favicon/ogimage-400x600-v1.png')
    meta(property='og:image:height', content='600')
    meta(property='og:image:width', content='400')
    meta(property='og:locale', content='de_DE')
    meta(property='og:site_name', content='Mobile Marketing | Traffic Forrest')
    meta(property='og:type', content='website')
    meta(property='og:url', content='https://trafficforrest.com/')
    link(rel='stylesheet', type='text/css', href='./files/app.min.css')
    script(src='https://use.typekit.net/hjf4xtn.js')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
    script.
      try{Typekit.load({ async: true });}catch(e){}
  body.page-home
    #header(style='position: fixed; top: 0px; left: 0px; right: 0px; overflow: hidden; height: 75px;')
      .midnightHeader.default(style='bottom: 0px; position: absolute; overflow: hidden; top: 0px; left: 0px; right: 0px; transform: translateY(110%) translateZ(0px);')
        .midnightInner(style='position: absolute; overflow: auto; top: 0px; left: 0px; right: 0px; bottom: 0px; transform: translateY(-110%) translateZ(0px);')
          .logo
            h3.ux-king
              a(href='https://trafficforrest.com/', title='Proffesional Mobile Marketing Agency | Traffic Forrest') Traffic Forrest
          .work
            a.toggle-menu(href='https://trafficforrest.com/#', title='Professional Mobile Marketing Agency | Traffic Forrest')
              span.ux-king-burger
                span.before
                span.middle
                span.after
      .midnightHeader.blue(style='bottom: 0px; position: absolute; overflow: hidden; top: 0px; left: 0px; right: 0px; transform: translateZ(0px);')
        .midnightInner(style='position: absolute; overflow: auto; top: 0px; left: 0px; right: 0px; bottom: 0px; transform: translateZ(0px);')
          .logo
            h3.ux-king
              a(href='https://trafficforrest.com/', title='Proffesional Mobile Marketing Agency | Traffic Forrest') Traffic Forrest
          .work
            a.toggle-menu(href='https://trafficforrest.com/#', title='Proffesional Mobile Marketing Agency | Traffic Forrest')
              span.ux-king-burger
                span.before
                span.middle
                span.after
    #hero
      .mask
      h1.memo
        | Professional Mobile Marketing Agency based in Berlin
      .mouse.scroll-link(go-to='.we-do')
        span
    .ux-king-menu
      a.toggle-menu(href='https://trafficforrest.com/#', title='Webdesign Agentur UX King')
        span.ux-king-burger
          span.before
          span.middle
          span.after
      .memo
        div 
          | Call us or send a message for a free consultation.
        .contacts
          a(href='call:00493088492960', title='Telefonnummer') +49 (0) 162 71 53 770
          a(href='mailto:info@ux-king.com', title='Email Adresse') info@trafficforrest.com
        .socials
          a(href='http://facebook.com/ux-king', title='UX-King at facebook', target='_blank', class='facebook') Facebook
          a(href='http://linkedin.com/ux-king', title='Conntect with us', target='_blank', class='linkedin') Linked-In
          a(href='http://xing.com/ux-king', title='UX King on Xing', target='_blank', class='xing') Xing
          a(href='http://twitter.com/ux-king', title='News and Informations about UX Topics', target='_blank', class='twitter') Twitter
          a(href='https://plus.google.com/+MunumDe', title='UX-King at google+', target='_blank', class='google') Google+
    .section.spacer
    #page
      .page-container
        #map(style='position: absolute; top: 0; left: 0; z-index: 100000')
          .layer(data-midnight='default', style='height: 1000px;')
          .layer(data-midnight='blue', style='height: 911px;')
          .layer(data-midnight='blue', style='height: 1428px;')
        .scrollable-spacer(style='height: 3114px;')
        .section.scrollable.section-blue.how-we(style='z-index: 2;')
          .section-header
            h3.section-title WHAT WE DO
          .section-content
            .cell.first
              .wrapper
                .card
                  .graphic.discovery
                .content
                  h2.title Mobile Consultancy
                  p.words
                    | Maecenas sed diam eget risus varius blandit sit amet non magna. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.
            .cell.second
              .wrapper
                .card
                  .graphic.wireframing
                .content
                  h2.title Mobile Media Planning & Buying
                  p.words
                    | Maecenas sed diam eget risus varius blandit sit amet non magna. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.
            .cell.third
              .wrapper
                .card
                  .graphic.prototyping
                .content
                  h2.title Creative Development
                  p.words
                    | Maecenas sed diam eget risus varius blandit sit amet non magna. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.
            .cell.first
              .wrapper
                .card
                  .graphic.user-testing
                .content
                  h2.title Mobile Acquisition
                  p.words
                    | Maecenas sed diam eget risus varius blandit sit amet non magna. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.
            .cell.second
              .wrapper
                .card
                  .graphic.ui-design
                .content
                  h2.title Performance Network
                  p.words
                    | Maecenas sed diam eget risus varius blandit sit amet non magna. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.
            .cell.third
              .wrapper
                .card
                  .graphic.interaction-design
                .content
                  h2.title Conversion Tracking & Optimization
                  p.words
                    | Maecenas sed diam eget risus varius blandit sit amet non magna. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.
        .scrollable-spacer(style='height: 1239px;')
        .section.scrollable.team(style='z-index: 3;')
          .section-header
            h3.section-title OUR TEAM
          .section-content
            .cell.first
              .wrapper
                .photo(style='background-image: url(./assets/img/thilo.jpg)')
                .content
                  span.name Thilo Becker
                  span.role Founder & CEO
            .cell.second
              .wrapper
                .photo(style='background-image: url(./assets/img/thilo.jpg)')
                .content
                  span.name Tom Meißner
                  span.role Co-Founder & CTO
            .cell.third
              .wrapper
                .photo(style='background-image: url(./assets/img/thilo.jpg)')
                .content
                  span.name Lolololol
                  span.role CSO
        .scrollable-spacer(style='height: 5px;')
        .section.scrollable.clients(data-midnight='blue', style='z-index: 5;')
          .section-header
            h3.section-title OUR CLIENTS
          .section-content
            .cell.first
              .wrapper
                .photo.studienkreis(style='background-image: url(./assets/img/studienkreis.png)')
            .cell.second
              .wrapper
                .photo.partake(style='background-image: url(./assets/img/partake.png)')
            .cell.third
              .wrapper
                .photo.deutschland-rundet-auf(style='background-image: url(./assets/img/deutschland-rundet-auf.png)')
            .cell.first
              .wrapper
                .photo.cornelsen-schulverlage(style='background-image: url(.assets/img/cornelsen-schulverlage.png)')
            .cell.second
              .wrapper
                .photo.tab(style='background-image: url(./assets/img/tab.png)')
            .cell.third
              .wrapper
                .photo.crosslend(style='background-image: url(./assets/img/crosslend.png)')
        .section.scrollable.contact(data-midnight='blue', style='z-index: 6;')
          .footer-bar
            .section-content
                a(href='https://www.ux-king.com/impressum/' , title='Contact Us') GET YOUR CAMPAIGN RUNNING
    script(type='text/javascript', src='./files/main.js')
