//output:index.html, pretty:false
doctype html
html(lang="de")
  head
    // General Meta
    meta(charset='utf-8')
    meta(name='viewport', content='initial-scale=1, width=device-width, user-scalable=no, shrink-to-fit=no')
    meta(name='apple-mobile-web-app-title', content='UX King')
    meta(name='application-name', content='UX King')
    meta(name='google', content='notranslate')
    meta(name='mobile-web-app-capable', content='yes')
    // Apple Touch Icon
    link(rel='apple-touch-icon', sizes='180x180', href='https://www.ux-king.com/assets/img/favicon/apple-touch-icon-180x180-v1.png')
    link(rel='apple-touch-icon-precomposed', sizes='152x152', href='https://www.ux-king.com/assets/img/favicon/apple-touch-icon-152x152-v1.png')
    link(rel='apple-touch-icon-precomposed', sizes='144x144', href='https://www.ux-king.com/assets/img/favicon/apple-touch-icon-144x144-v1.png')
    link(rel='apple-touch-icon-precomposed', sizes='120x120', href='https://www.ux-king.com/assets/img/favicon/apple-touch-icon-120x120-v1.png')
    link(rel='apple-touch-icon-precomposed', sizes='114x114', href='https://www.ux-king.com/assets/img/favicon/apple-touch-icon-114x114-v1.png')
    link(rel='apple-touch-icon-precomposed', sizes='76x76', href='https://www.ux-king.com/assets/img/favicon/apple-touch-icon-76x76-v1.png')
    link(rel='apple-touch-icon-precomposed', sizes='72x72', href='https://www.ux-king.com/assets/img/favicon/apple-touch-icon-72x72-v1.png')
    link(rel='apple-touch-icon-precomposed', sizes='60x60', href='https://www.ux-king.com/assets/img/favicon/apple-touch-icon-60x60-v1.png')
    link(rel='apple-touch-icon-precomposed', sizes='57x57', href='https://www.ux-king.com/assets/img/favicon/apple-touch-icon-57x57-v1.png')
    // Favicon
    link(rel='icon', type='image/png', href='https://www.ux-king.com/assets/img/favicon/favicon-128x128.png', sizes='128x128')
    link(rel='icon', type='image/png', href='https://www.ux-king.com/assets/img/favicon/favicon-96x96.png', sizes='96x96')
    link(rel='icon', type='image/png', href='https://www.ux-king.com/assets/img/favicon/favicon-32x32.png', sizes='32x32')
    link(rel='icon', type='image/png', href='https://www.ux-king.com/assets/img/favicon/favicon-16x16.png', sizes='16x16')
    // Android Chrome Icon
    link(rel='icon', type='image/png', href='../assets/img/android-chrome-192x192-v1.png', sizes='192x192')
    // Microsoft Application Icon
    meta(name='msapplication-TileColor', content='#232121')
    meta(name='msapplication-TileImage', content='https://www.ux-king.com/assets/img/favicon/mstile-144x144.png')
    meta(name='msapplication-square70x70logo', content='https://www.ux-king.com/assets/img/favicon/mstile-70x70.png')
    meta(name='msapplication-square150x150logo', content='https://www.ux-king.com/assets/img/favicon/mstile-150x150.png')
    meta(name='msapplication-wide310x150logo', content='https://www.ux-king.com/assets/img/favicon/stile-310x150.png')
    meta(name='msapplication-square310x310logo', content='https://www.ux-king.com/assets/img/favicon/mstile-310x310.png')
    link(rel='manifest', href='https://www.ux-king.com/assets/img/favicon/manifest-v1.json')
    // SEO / Social Relevent Metas
    title Design Agentur: UX, UI, Webdesign, Responsive
    meta(name='description', content='Design Agentur Berlin - Pixel-Perfect Design mit Konzept ✓ UX/UI Design ✓ Webdesign ✓ Responsive Jetzt kostenlose Beratung anfordern! ☎ 030 / 88 49 29 60')
    meta(property='og:title', content='Design Agentur: UX, UI, Webdesign, Responsive')
    meta(property='og:description', content='Design Agentur Berlin - Pixel-Perfect Design mit Konzept ✓ UX/UI Design ✓ Webdesign ✓ Responsive Jetzt kostenlose Beratung anfordern! ☎ 030 / 88 49 29 60')
    meta(property='og:image', content='https://www.ux-king.com/assets/img/favicon/ogimage-1200x630-v2.png')
    meta(property='og:image:height', content='1200')
    meta(property='og:image:width', content='630')
    meta(property='og:image', content='https://www.ux-king.com/assets/img/favicon/ogimage-400x600-v1.png')
    meta(property='og:image:height', content='600')
    meta(property='og:image:width', content='400')
    meta(property='og:locale', content='de_DE')
    meta(property='og:site_name', content='Design Agentur: UX, UI, Webdesign, Responsive')
    meta(property='og:type', content='website')
    meta(property='og:url', content='https://ux-king.com/design-agentur/')
    meta(name='twitter:card', content='summary_large_image')
    meta(name='twitter:site', content='@UXKingCOM')
    meta(name='twitter:title', content='Design Agentur: UX, UI, Webdesign, Responsive')
    meta(name='twitter:description', content='Design Agentur Berlin - Pixel-Perfect Design mit Konzept ✓ UX/UI Design ✓ Webdesign ✓ Responsive Jetzt kostenlose Beratung anfordern! ☎ 030 / 88 49 29 60')
    meta(name='twitter:image', content='https://www.ux-king.com/assets/img/favicon/ogimage-1200x630-v1.png')
    // Stylesheets & Fonts
    link(rel='stylesheet', type='text/css', href='../files/app.min.css')
    link(rel='stylesheet', type='text/css', href='../files/landingpage.min.css')
    script(src='https://use.typekit.net/hjf4xtn.js')
    script.
      try{Typekit.load({ async: true });}catch(e){}
body.page-home
    #header(style='position: fixed; top: 0px; left: 0px; right: 0px; overflow: hidden; height: 75px;')
      .midnightHeader.default(style='bottom: 0px; position: absolute; overflow: hidden; top: 0px; left: 0px; right: 0px; transform: translateY(110%) translateZ(0px);')
        .midnightInner(style='position: absolute; overflow: auto; top: 0px; left: 0px; right: 0px; bottom: 0px; transform: translateY(-110%) translateZ(0px);')
          .logo
            h3.ux-king
              a(href='http://ux-king.com/', title='Webdesign Agentur UX King') UX-King
          .work
            a.toggle-menu(href='http://ux-king.com/#', title='Webdesign Agentur UX King')
              span.ux-king-burger
                span.before
                span.middle
                span.after
      .midnightHeader.blue(style='bottom: 0px; position: absolute; overflow: hidden; top: 0px; left: 0px; right: 0px; transform: translateZ(0px);')
        .midnightInner(style='position: absolute; overflow: auto; top: 0px; left: 0px; right: 0px; bottom: 0px; transform: translateZ(0px);')
          .logo
            h3.ux-king
              a(href='http://ux-king.com/', title='Webdesign Agentur UX King') UX-King
          .work
            a.toggle-menu(href='http://ux-king.com/#', title='Webdesign Agentur UX King')
              span.ux-king-burger
                span.before
                span.middle
                span.after
    #hero(style='height: 15%; background-image: url(../assets/img/hero/design-agentur.jpg);')
      .mask
        h1.memo
    .ux-king-menu
      a.toggle-menu(href='http://ux-king.com/#', title='Webdesign Agentur UX King')
        span.ux-king-burger
          span.before
          span.middle
          span.after
      .memo
        div Rufe uns jetzt an oder schicke eine Nachricht für ein kostenloses Beratungsgespr&auml;ch!
        .contacts
          a(href='call:00493088492960', title='Telefonnummer') 030 8849 2960
          a(href='mailto:info@ux-king.com', title='Email Adresse') info@ux-king.com
        .socials
          a(href='http://facebook.com/ux-king', title='UX-King at facebook', target='_blank', class='facebook') Facebook
          a(href='http://linkedin.com/ux-king', title='Conntect with us', target='_blank', class='linkedin') Linked-In
          a(href='http://xing.com/ux-king', title='UX King on Xing', target='_blank', class='xing') Xing
          a(href='http://twitter.com/ux-king', title='News and Informations about UX Topics', target='_blank', class='twitter') Twitter
          a(href='https://plus.google.com/+MunumDe', title='UX-King at google+', target='_blank', class='google') Google+
    .section.spacer(style='height: 15%;')
    #page
      .page-container
        #map(style='position: absolute; top: 0; left: 0; z-index: 100000')
          .layer(data-midnight='blue', style='height: 3114px;')
          .layer(data-midnight='default', style='height: 1581px;')
          .layer(data-midnight='blue', style='height: 1239px;')
          .layer(data-midnight='default', style='height: 911px;')
          .layer(data-midnight='blue', style='height: 1428px;')
          .layer(data-midnight='blue')
        .scrollable-spacer(style='height: 3114px;')
        .section.scrollable.we-do(style='z-index: 1;')
          .fixed
          .section-header(style='max-width: 880px; padding: 0; text-align: left;')
            h3.section-title Design Agentur: UX, UI, Webdesign, Responsive
            p.intro
              | Wir sind eine Design Agentur, die sich auf User Experience- und User Interface Design spezialisiert hat.
          .section.list(style='max-width: 880px; margin: 0 auto; ')
            .row
              .content
                .wrapper(style='margin:0;')
                  h2 Design Agentur für UX und UI
                  p.words
                    | Unser Ziel ist es, die Nutzererfahrung eines Produktes zu verbessern. Dabei kann es sich um eine Website oder um eine App handeln. Wir möchten mit Ihnen, über Ihre Anforderungen und Ziele sprechen, um Ihr Produkt zu optimieren. Als UX/UI Design Agentur wissen wir, dass zufriedene User sehr wertvoll sind.
              .graphic(style='background-image: url()')
            .row
              h2 Was kostet eine Design Agentur?
              p 
                | Unsere Preise sind individuell vom Umfang des Projektes und auch abhängig von der Größe des Kunden. Ein kleines Startup hat andere Anforderungen und andere Geldmittel, als ein internationaler Konzern. Von daher sind unsere Preise unterschiedlich, aber natürlich passen sich die Leistungen auch entsprechend an. Ein großes Unternehmen braucht oftmals komplexe Apps oder Portale mit Usability Testing, wohingegen man mit einem Startup erstmal einen günstigen MVP entwickelt.
            .work-with
              h5.red-period 
                | Wir legen Wert auf Individualität und Transparenz!
                | Kontaktieren Sie uns, für ein kostenloses Erstgespr&auml;ch und Angebot
              a.btn(href='mailto:projekt@ux-king.com', title='Contact us') Kostenlose Beratung anfordern
          br
          a(href='./impressum/' , title='Impressum', class='mobile-imprint', style='padding-bottom: 100px; color: #454545') Impressum
        .section.scrollable.clients(data-midnight='blue', style='z-index: 5; padding: 0;')
            .footer-bar
              .section-content
                  a(href='./impressum/' , title='Impressum', class='imprint') Impressum
                  a.contact(href='mailto:projekt@ux-king.de' , title='Beratungstermin vereinbaren') Jetzt kostenlos beraten lassen!
    script(type='text/javascript', src='../files/main.js')
    script(src='../files/analytics.js')
