body {
  font-size: 17px;
}

.contentimage {
  width: 100%;
  max-height: 300px;
  margin: 30px 0;
}

.footer-bar {
  bottom: 0;
  background: rgba(48,50,54,0.95) !important;
}
.footer-bar .contact {
  border: 1px solid #feb901;
  padding: 7px 15px;
  border-radius: 3px;
  color: #FFF;
}
.footer-bar .info {
  margin-right: 20px;
  border: 1px solid rgba(255,255,255,0.3);;
  padding: 7px 15px;
  border-radius: 3px;
  color: rgba(255,255,255,0.3);
}
.we-do p.intro {
  margin: 25px 0 0 0;
}
.section-title {
  font-size: 3.2em !important;
  text-align: left !important;
}
.row h2 {
  font-size: 1.5em;
  line-height: 1.2em;
  margin: 0 0 20px 0;
}
h4 {
  font-weight: 700;
  margin: 20px 0 0 0;
}
ul {
  margin: 0 0 20px 0;
  padding: 0 0 0 30px;
}
ul > li {
  font-weight: 400;
  color: #feb901;
}
ul > li > span {
  color: #454545;
}
.work-with {
  margin: 100px auto 0 auto;
  text-align: center;
}
.work-with h3 {
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  text-transform: none;
}

.row.article {
  margin: 0 !important;
}
.row.article > div > p {
  width: calc(50% - 20px);
  float: left;
  margin: 0 40px 0 0;
}
.row.article > div > img {
  padding: 0 0 50px 0px;
  width: calc(50% - 20px);
}
.comparison {
  margin: 0 0 80px;
}

@media only screen and (max-width: 890px) {
    .page-about .we-do .row .graphic, .page-home .we-do .row .graphic {
      padding: 0;
    }
    .page-about .we-do .row .content, .page-home .we-do .row .content {
      padding: 435px 0 0;
    }
    .row.article {
      margin: 0 !important;
    }
    .row.article > div  {
      padding: 300px 0 0 0;
    }
    .row.article > div > p {
      width: auto;
      float: left;
      margin: 0;
    }
    .row.article > div > img {
      object-fit: cover;
      position: absolute;
      left: 0;
      top: 0;
      padding: 0 0 50px 0px;
      width: 100%;
      max-height: 250px;
    }
    .comparison {
      margin: 0 0 80px;
    }
}

@media only screen and (max-width: 1200px) {
  .page-about .we-do .content .wrapper, .page-home .we-do .content .wrapper {
    top: 0;
    -webkit-transform: none;
    transform: none;
  }
}

.page-about .we-do .graphic, .page-home .we-do .graphic {
  position: relative;
  padding: 0;
  height: 425px;
  width: 45%;
}

.page-about .we-do .graphic, .page-home .we-do .graphic img {
  object-fit: cover;
  position: absolute;
  top: -50%;
  left: -50%;
  right: -50%;
  bottom: -50%;
  margin: auto;
}

@media only screen and (min-width: 764px) {
  .footer-bar .contact {
    display: none;
  }
  .mobile-imprint {
    display: none;
  }
  .mobile-imprint {
    margin: 50px 0
  }
  .section-header {
    padding: 0 !important;
  }
  .section .list {
    padding: 80px 0 0 0;
  }
}
@media only screen and (max-width: 763px) {
  .work-with {
    margin: 0;
  }
  .work-with h5 {
    display: none;
  }
  .footer-bar .contact {
    display: inline;
  }
  .section-title {
    font-size: 2em !important;
    text-align: left !important;
  }
  .wrapper {
    margin-bottom: 50px;
  }
  .content .wrapper {
    padding: 30px 0 0 0 !important;
  }
  .row {
    margin: 30px 0 0 0 !important;
  }

  .we-do .section.list .row {
    padding: 0 0 100px 0;
  }

  .section .list {
    padding: 0 !important;
  }
  .row:last-child {
    margin: 30px 0 50px 0 !important;
    padding-bottom: 100px;
  }
  .footer-bar {
    position: fixed !important;
  }
  .imprint {
    display: none;
  }
  .mobile-imprint {
    margin: 120px 0
  }
